@import url('docbook.css');

/* second-level sections titles, e.g. section 5.2, except the first (5.1) */
div.chapter > div.section ~ div.section div.titlepage h2
{
  margin-top: 3em;
}

/* chapter titles except the first */
div.chapter ~ div.chapter div.titlepage h1
{
  margin-top: 3em;
}

div.chapter div.titlepage h1.title, div.appendix div.titlepage h1.title
{
  border-bottom: 2px solid #222;
}